name: "Update Pkg"
on:
  push:
    branches: [main]
jobs:
  back_merge_job:
    runs-on: ubuntu-latest
    name: Update Pkgs
    steps:
      - name: Node $
        uses: actions/setup-node@v1
        with:
          node-version: v16.13.1
          registry-url: "https://npm.pkg.github.com"
          scope: "@amgfelgueiras"
      - name: Install Angular CLI
        run: npm i -g @angular/cli
      - name: Checkout tools repo
        uses: actions/checkout@v2
        with:
          repository: amgfelgueiras/dependent-project
          path: dependent-project
      - name: Update PKGs
        # env:
        #   NODE_AUTH_TOKEN: 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
        run: |
          cd dependent-project
          rm .npmrc
          echo "//npm.pkg.github.com/:_authToken=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" > .npmrc
          echo "@amgfelgueiras:registry=https://npm.pkg.github.com" >> .npmrc
          echo "_auth=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" >> .npmrc
          echo "always-auth=true" >> .npmrc
          npm install @amgfelgueiras/typescript-package-starter
          npm run build
          git add .
          git commit -m "version updated"
          git push
        env:
          NODE_AUTH_TOKEN: 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
