name: "Update Pkg"
on:
  push:
    branches: [main]
jobs:
  back_merge_job:
    runs-on: ubuntu-latest
    steps:
      - name: Repository Dispatch
        uses: peter-evans/repository-dispatch@v1
        with:
          token: ${{ secrets.REPO_ACCESS_TOKEN }}
          repository: amgfelgueiras/dependent-project
          event-type: update_ng_shared_package
