name: "Update Pkg"
on:
  push:
    branches: [main]
jobs:
  back_merge_job:
    runs-on: ubuntu-latest
    name: Update Pkgs
    steps:
      - name: Node $
        uses: actions/setup-node@v2
        with:
          node-version: v16.13.1
          registry-url: "https://npm.pkg.github.com"
          scope: "@amgfelgueiras"
      - name: Install Angular CLI
        run: npm i -g @angular/cli
      - uses: actions/checkout@v2
        with:
          repository: amgfelgueiras/dependent-project
          path: dependent-project
      - run: |
          cd dependent-project
          echo $PWD
          cat package.json
          touch cenas.json
          echo 'cenas' >> cenas.json
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add .
          git commit -m "generated"
          git push
