name: "Update Pkg"
on:
  push:
    branches: [main]
jobs:
  back_merge_job:
    runs-on: ubuntu-latest
    name: Update Pkgs
    steps:
      - name: Node $
        uses: actions/setup-node@v1
        with:
          node-version: v16.13.1
          registry-url: "https://npm.pkg.github.com"
          scope: "@amgfelgueiras"
      - name: Install Angular CLI
        run: npm i -g @angular/cli
      - name: Update PKGs
        run: |
          git clone git@github.com:amgfelgueiras/dependent-project.git 
          cd dependent-project
          npm install @amgfelgueiras/typescript-package-starter
          npm run build
          git add .
          git commit -m "version updated"
          git push
